In [1]:
import numpy as np

# profit/loss from revenue and expenses

In [2]:
revenue = np.array([
    [180, 200, 220], 
    [24, 36, 40], 
    [12, 18, 20]
])
expenses = np.array([
    [80, 90, 100], 
    [10, 16, 20], 
    [8, 10, 10]
])

In [3]:
profit = revenue - expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

# total sales from units and price per unit using matrix multiplication

In [4]:
price_per_unit = np.array([1000, 400, 1200])
units = np.array([
    [30, 40, 50], 
    [5, 10, 15], 
    [2, 5, 7]
])

## Numpy broadcasting

In [5]:
price_per_unit*units

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

Here, numpy is using broadcasting, i.e. it expands price_per_unit array from 1 row, 3 columns to 3 row and 3 columns

In [9]:
# As if
price_per_unit2 = np.array([
    [1000, 400, 1200], 
    [1000, 400, 1200], 
    [1000, 400, 1200]
])
price_per_unit2 * units

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

## Matrix multiplication

In [10]:
np.dot(price_per_unit, units)

array([[34400, 50000, 64400],
       [34400, 50000, 64400],
       [34400, 50000, 64400]])

**Q1. Below is some indian companies revenues in US dollars. Using numpy can you convert this into Indian rupees? 1 USD = 83.90 INR**

In [12]:
company_revenue_usd = np.array([
    [200, 220, 250],  # Reliance
    [68,  79,  105],  # Infosys
    [110, 140, 180],  # TCS
    [80,  85,  90]    # Wipro
])
company_revenue_inr = company_revenue_usd * 83.90
company_revenue_inr

array([[16780. , 18458. , 20975. ],
       [ 5705.2,  6628.1,  8809.5],
       [ 9229. , 11746. , 15102. ],
       [ 6712. ,  7131.5,  7551. ]])

**Q2. Divine flowers is a flower shop that sells different type of flowers. Below is the table showing how many flowers of each type they sold in different months. Also given are the prices of one flower each. Using this find out their total sales in every month.**

In [14]:
units_flowers_sold = np.array([
    [50, 60, 25], # Roses
    [10, 13, 5], # Lotus
    [40, 70, 52] # Sunflower
])
price_per_unit_flowers = np.array([20, 30, 15])

np.dot(price_per_unit_flowers, units_flowers_sold)

array([1900, 2640, 1430])

**Q3. https://www.mathopolis.com/questions/q.html?id=714&t=mif&qs=714_715_716_717_2394_2395_2397_2396_8473_8474_8475_8476&site=1&ref=2f616c67656272612f6d61747269782d6d756c7469706c79696e672e68746d6c&title=486f7720746f204d756c7469706c79204d61747269636573**